/* ===============================
   FEATURES / SERVICES
   =============================== */

.features {
  padding: 90px 7%;
  background: #10131a;
  color: white;
}

/* Heading */

.features-header {
  text-align: center;
  margin-bottom: 55px;
}

.features-header h2 {
  margin: 0 0 15px;

  font-size: 40px;
  font-weight: 800;

  color: rgb(44, 115, 178);
}

.features-header h2 span {
  color: rgb(44, 115, 178);
}

.features-header p {
  margin: 0;

  color: #aeb6c4;

  font-size: 17px;
}


/* ===============================
   FOUR BOXES
   =============================== */

.features-container {
  max-width: 1200px;

  margin: auto;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 25px;
}


/* ===============================
   SERVICE BOX
   =============================== */

.feature-card {
  min-height: 290px;

  padding: 30px 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: #171c25;

  border: 1px solid #354052;

  border-radius: 16px;

  box-shadow:
    0 8px 25px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease;
}


/* Hover */

.feature-card:hover {
  transform: translateY(-8px);

  border-color: #0b3d91;

  box-shadow:
    0 15px 35px rgba(11, 61, 145, 0.2);
}


/* Emergency card */

.feature-card.red:hover {
  border-color: #e53935;

  box-shadow:
    0 15px 35px rgba(229, 57, 53, 0.2);
}


/* ===============================
   ICON
   =============================== */

.feature-icon {
  width: 75px;
  height: 75px;

  margin-bottom: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: rgba(11, 61, 145, 0.15);

  border: 1px solid #2457a6;

  font-size: 32px;

  transition: 0.3s ease;
}


.feature-card:hover .feature-icon {
  transform: scale(1.1);
}


/* Red icon */

.feature-card.red .feature-icon {
  background: rgba(229, 57, 53, 0.13);

  border-color: #e53935;
}


/* ===============================
   TEXT
   =============================== */

.feature-card h3 {
  margin: 0 0 12px;

  color: white;

  font-size: 20px;
}


.feature-card p {
  max-width: 240px;

  margin: 0;

  color: #aeb6c4;

  font-size: 14px;

  line-height: 1.7;
}


/* ===============================
   RESPONSIVE
   =============================== */

@media (max-width: 1050px) {

  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }

}


@media (max-width: 600px) {

  .features {
    padding: 70px 20px;
  }

  .features-header h2 {
    font-size: 32px;
  }

  .features-header p {
    font-size: 15px;
  }

  .features-container {
    grid-template-columns: 1fr;

    gap: 20px;
  }

  .feature-card {
    min-height: 250px;
  }

}